#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

DPKG_EXPORT_BUILDFLAGS = 1

include /usr/share/dpkg/default.mk

CONFFLAGS += --enable-capabilities
CONFFLAGS += --enable-openvz
CONFFLAGS += --enable-unicode
CONFFLAGS += --enable-unwind
CONFFLAGS += --enable-vserver

ifeq ($(DEB_HOST_ARCH_OS),linux)
CONFFLAGS += --enable-affinity
CONFFLAGS += --enable-delayacct
else
CONFFLAGS += --enable-hwloc
endif

# hurd-i386 can open /proc (nothing there) and /proc/ which works
ifeq ($(DEB_HOST_ARCH_OS),hurd)
CONFFLAGS += --with-proc=/proc/
else
CONFFLAGS += --enable-sensors
endif

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- $(CONFFLAGS)
